.contacts
	padding: 58px 0 148px 0
	overflow-x: hidden
	&-block
		display: flex
		justify-content: space-between
		align-items: center
	&-form
		flex-basis: 51%
		max-width: 380px
		min-width: 250px
		min-height: 410px
		padding: 40px 36px 49px 35px
		background: #FFFFFF
		box-shadow: -5px 5px 0px #FFC41D
		border-radius: 5px
		margin-left: 5px
		&__title
			max-width: 285px
			font-weight: bold
			font-size: 18px
			line-height: 28px
			text-align: center
			color: #000000
			margin-bottom: 29px
			margin-left: 13px
		&__input-phone
			margin-bottom: 17px
			background: url('../img/footer/user-icon.svg') center left 20px no-repeat
		&__input-mail
			margin-bottom: 26px
			background: url('../img/footer/phone-icon.svg') center left 20px no-repeat
		&__button
			width: 100%
	&-text
		flex-basis: 49%
	&-data
		display: flex
		flex-wrap: wrap
		margin-bottom: 42px
		&__title
			font-weight: bold
			font-size: 24px
			line-height: 28px
			margin-bottom: 16px
		&__phone
			flex-basis: 51%
			margin-bottom: 50px
		&__mail
			flex-basis: 49%
		&__social
			flex-basis: 100%
		&__link
			margin-right: 37px
			font-weight: normal
			font-size: 16px
			line-height: 19px
			color: #fff
			&:hover
				text-decoration: underline
		&__policy
			display: inline-block
			margin-top: 72px
			font-weight: normal
			font-size: 15px
			line-height: 18px
			text-decoration-line: underline
			color: #A5A5A5

@media screen and ( max-width: 915px )
	.contacts
		padding: 50px 0 100px 0
		overflow-x: hidden
		&-block
			display: flex
			justify-content: space-between
			flex-direction: column
			align-items: flex-start
		&-form
			flex-basis: 100%
			margin-bottom: 64px
		&-text
			flex-basis: 49%
		&-data
			display: flex
			flex-wrap: wrap
			margin-bottom: 42px
			&__title
				font-weight: bold
				font-size: 24px
				line-height: 28px
				margin-bottom: 16px
			&__phone
				flex-basis: 38%
				margin-bottom: 50px
			&__mail
				flex-basis: 50%

@media screen and ( max-width: 576px )
	.contacts
		padding: 47px 0 50px 0
		overflow-x: hidden
		&-title
			font-size: 19px
			line-height: 22px
			text-align: center
			margin-bottom: 48px
		&-form
			max-width: 380px
			min-height: 410px
			padding: 39px 19px 47px 19px
			margin-left: 0
			&__title
				min-width: 216px
				font-size: 15px
				line-height: 140%
				margin-bottom: 27px
			&__button
				width: 100%
				font-size: 10px
				line-height: 28px
				padding: 17px 7px
		&-text
			flex-basis: 100%
		&-data
			display: flex
			flex-wrap: wrap
			margin-bottom: 28px
			&__title
				font-weight: bold
				font-size: 18px
				line-height: 21px
				margin-bottom: 12px
			&__phone
				flex-basis: 100%
				margin-bottom: 35px
			&__mail
				flex-basis: 100%
				margin-bottom: 35px
			&__social
				flex-basis: 100%
			&__link
				display: block
				margin-bottom: 17px
				margin-right: 0
				font-weight: normal
				font-size: 14px
				line-height: 16px
			&__policy
				font-size: 15px
				line-height: 18px
				margin-top: 28px
